@tailwind base;
@tailwind components;
@tailwind utilities;

.ScreenSaver {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
    transition: opacity 900ms ease 0s;
}

.ScreenSaver.is-show {
    opacity: 1;
    pointer-events: initial;
    transition: opacity 2500ms ease 0s;
}

.ScreenSaver__image {
    position: absolute;
    inset: 60px 0px;
    margin: auto;
    width: 72.5%;
}

.ScreenSaver__image img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


:root {
    --color-menu-overlay: #a0e806;
    --color-menu-text: #000;
    --color-divider: #000000;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    color: #fff;
    z-index: 0;
  }
  
  .menu-open-btn {
    cursor: pointer;
  }
    
  .menu-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em;
    background: var(--color-menu-overlay);
    pointer-events: none;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 1000 !important;
  }
  
  .menu-close-btn {
    cursor: pointer;
  }
  
  .menu-nav {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1em;
   color: var(--color-menu-text);
  }
  
  .menu-cols {
    display: flex;
  }
  
  .menu-cols > div {
    flex: 1;
    padding: 1em 0;
  }
  
  .video {
    width: 50%;
  }
  
  .video-preview {
    width: 100%;
    height: 0px;
    background-size: cover;
    border-radius: 4px;
  }
  
  .video-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    color: var(--color-menu-text);
  }
  
  .menu-link {
    position: relative;
    width: max-content;
  }
  
  .menu-link a {
    font-size: 40px;
  }
  
  .menu-link:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--color-menu-text);
    transition: 0.3s all;
  }
  
  .menu-link:hover.menu-link:after {
    width: 100%;
  }
  
  .btn {
    position: relative;
    margin: 2em 0;
    border: 1px solid var(--color-menu-text);
    width: max-content;
    padding: 1.25em 2.5em;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color-menu-text);
    transition: 0.3s all;
    z-index: -1;
  }
  
  .btn:hover a {
    color: var(--color-menu-overlay);
  }
  
  .btn:hover.btn:before {
    width: 100%;
  }
  
  .menu-footer {
    display: flex;
    flex-direction: column;
    color: var(--color-menu-text);
  }
  
  .menu-divider {
    width: 0%;
    height: 1px;
    background: var(--color-divider);
    margin: 1em 0;
  }
  
  .menu-footer-copy {
    display: flex;
    justify-content: space-between;
  }
  
  .socials {
    display: flex;
    gap: 1em;
  }
  
  @media(max-width: 900px) {
    .menu-overlay {
        height: 100vh;
    }
  
    .menu-cols {
        display: block;
    }
  
    .video-preview {
        height: 125px;
    }
  
    .menu-link a {
        font-size: 30px;
    }
  
    h1.header {
        font-size: 40px;
    }
  }


  [class^="number-slide"],
  [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 300px;
    max-height: 100vh;
  }
  
  .number-slide1 {
    background: rgb(64, 175, 255);
    background: linear-gradient(
      128deg,
      rgba(64, 175, 255, 1) 0%,
      rgba(63, 97, 255, 1) 100%
    );
  }
  
  .number-slide2 {
    background: rgb(255, 75, 64);
    background: linear-gradient(
      128deg,
      rgba(255, 154, 63, 1) 0%,
      rgba(255, 75, 64, 1) 100%
    );
  }
  
  .number-slide3 {
    background: rgb(182, 255, 64);
    background: linear-gradient(
      128deg,
      rgba(182, 255, 64, 1) 0%,
      rgba(63, 255, 71, 1) 100%
    );
    background: linear-gradient(
      128deg,
      rgba(189, 255, 83, 1) 0%,
      rgba(43, 250, 82, 1) 100%
    );
  }
  
  .number-slide4 {
    background: rgb(64, 255, 242);
    background: linear-gradient(
      128deg,
      rgba(64, 255, 242, 1) 0%,
      rgba(63, 188, 255, 1) 100%
    );
  }
  
  .number-slide5 {
    background: rgb(255, 64, 156);
    background: linear-gradient(
      128deg,
      rgba(255, 64, 156, 1) 0%,
      rgba(255, 63, 63, 1) 100%
    );
  }
  
  .number-slide6 {
    background: rgb(64, 76, 255);
    background: linear-gradient(
      128deg,
      rgba(64, 76, 255, 1) 0%,
      rgba(174, 63, 255, 1) 100%
    );
  }
  